       
          <!-- article-->
        
        <div class="row" style="margin-top:1em">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
                <a href="#"> <img class="img-responsive" src="images/Bill7.jpg" alt=""> </a>
            </div>

            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <h4>Oncology Bill</h4>
                <p>Welcome to NYU Langone's Laura and Isaac Perlmutter Cancer Center, a National Cancer Institute-designated cancer center. Our patients have access to state-of-the-art cancer therapies and clinical trials, as well as psychosocial support and integrative medicine services to manage any emotional and physical symptoms that arise during treatment. Formerly the NYU Cancer Institute, the Perlmutter Cancer Center integrates patient care, research, education, and community outreach to care for the whole person — not just the disease. </p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a href="#"> <img class="img-responsive" src="images/Bill6.jpg" alt=""> </a>
            </div>

            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <h4>Renal Bill</h4>
                <p>With over 20 years of experience, we are organized to respond quickly to your needs for clinical specimens and biofluids – Whole Blood, Serum, Plasma, Tissue, CSF, etc.  We identify clinical sites and principal investigators and develop the clinical protocols necessary to recruit the patient cohort you need for your clinical trial or biomarker validation study</p>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a href="#"> <img class="img-responsive" src="images/Bill5.jpg" alt=""> </a>
            </div>

            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <h4>X-Ray Bill</h4>
                <p>Your doctor and care team may not know all the services you’ll need until they see you. When you come in for a scheduled visit, your doctor may request additional services like lab tests or X-rays. Charges for these unscheduled services will appear on your bill. If you don't see them on your next bill, they'll appear on a future bill. </p>
            </div>
        </div>
          <hr>
         
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a href="#"> <img class="img-responsive" src="images/Bill4.jpg" alt=""> </a>
            </div>

            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <h4>Broken Arm</h4>
                <p>Fixing a broken arm is a relatively routine medical procedure that's performed many thousands of times per year in hospitals across North America. As such, it's relatively cheap compared to more complex treatments and procedures. I </p>
            </div>
        </div>
            <hr>   
   
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a href="#"> <img class="img-responsive" src="images/Bill3.jpg" alt=""> </a>
            </div>

            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <h4>Gastroenterology Series</h4>
                <p>Colorectal Cancer Screening provides a complete overview of colorectal cancer screening, from epidemiology and molecular abnormalities, to the latest screening techniques such as stool DNA and FIT, Computerized Tomography (CT) Colonography, High Definition Colonoscopes and Narrow Band Imaging. 
                </p>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a href="#"> <img class="img-responsive" src="images/Bill2.jpg" alt=""> </a>
            </div>

            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <h4>Mammogram</h4>
                <p>At our Women’s Imaging Center, we ensure a relaxed and comfortable environment designed for women and our staff can assist you with any questions or concerns you may have prior to your exam. 
                .</p>
            </div>
        </div>
        <hr>   
 
       <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a href="#"> <img  class="img-responsive" src="images/Bill1.jpg" alt=""> </a>
            </div>

            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <h4>Bone Scan</h4>
                <p>A bone scan is a nuclear imaging test that helps diagnose and track several types of bone disease. Your doctor may order a bone scan if you have unexplained skeletal pain suggesting bone loss, bone infection or a bone injury undetectable on a standard X-ray. </p>
            </div>
        </div>
              
          <!--/ article-->
        