             <div class="row" style="margin-top:1em">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                   <h4 id="medinfoTitle"> Your Medical Infromation</h4> 
				<div style="background-color:#91b4b1;height:.1em;"></div>  
                  </div>
             </div> 
          <!-- article-->
            <div class="row" style="margin-top:1em">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 ">
               
            </div>

            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                Click a Button to see your  Medical Infromation.
                <h4></h4>
            </div>
        </div>
              
          <!--/ article-->
          