             <div class="row" style="margin-top:1em">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                   <h4 id="medinfoTitle">  OTC Medicines You Reported</h4> 
                <div style="background-color:#91b4b1;height:.1em;"></div>  
                  </div>
             </div>       
          <!-- article-->

            <div class="row" style="margin-top:1em">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <a href="#"> <img class="img-responsive" src="images/a1.jpg" alt=""> </a>
                </div>

                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <h4>Angelica</h4>
                    <p>Angelica Root is an aromatic and bitter tonic that supports the digestive system and helps remedy stomach pain, heartburn, sour stomach, dyspepsia and mild spasms of the gastrointestinal tract. The root helps increase the production of gastric juices that aid digestion. It is especially effective against flatulence and feelings of fullness. The root is an appetite stimulant, and in East Indian medicine, Angelica Root is used to treat anorexia nervosa. Angelica is widely used in German pediatric medicine for colic and as an anti-spasmodic. Angelica Root is useful for all sorts of stomach difficulties, including gastric ulcers, cramps and vomiting.  
                    </p>
                </div>
            </div>
         <hr>

        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a href="#"> <img class="img-responsive" src="images/OTC1.jpg" alt=""> </a>
            </div>

            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <h4>Mucinex</h4>
                <p>Breaks Up Mucus That Causes Chest Congestion While Providing Fast And Long Lasting Relief. Mucinex Is Specially Formulated. The Immediate Release Layer Goes To Work Fast While The Extended Release Layer Continues To Work For 12 Hours. 
                </p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a href="#"> <img class="img-responsive" src="images/OTC2.jpg" alt=""> </a>
            </div>

            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <h4>Tylenol</h4>
                <p>Tylenol Extra Strength Caplets temporarily reduces fever and relieves minor aches and pains. The 100-count Tylenol 500mg Caplets help relieve headaches, muscular aches, arthritis, toothaches, backaches and the pain caused by a common cold. Find quick relief from pain with Tylenol Caplets. 
                </p>
            </div>
        </div>

        <hr>

          <!--/ article-->
         