
            
          <!-- article-->
            <div class="row" style="margin-top:1em" >
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a href="#"> <img class="img-responsive" src="images/Bruise5.jpg" alt=""> </a>
            </div>

            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <h4>Bruise</h4>
                <p>Went in with bruise on arm. Tests showed no break in bone, no torn ligaments.  Actually was bruised catching a baseball.</p>
            </div>
            </div>

            <hr>

        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a href="#"> <img class="img-responsive" src="images/Bruise1.jpg" alt=""> </a>
            </div>

            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <h4>Bruised Toe</h4>
                <p>Went in with severe bruise on foot.  Was tested for broken bones.  Tests showed last 2 toes were in fact broken.  Advised to take pain killers for 5 days and reduce walking.</p>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a href="#"> <img class="img-responsive" src="images/Bruise2.jpg" alt=""> </a>
            </div>

            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <h4>Rash</h4>
                <p> Developed skin condition.  Was tested for allergies to dust, mites, dairy, and berries. Tests revealed allergy to dandelions which are growing in the backyard. </p>
            </div>
        </div>
          <hr>
         
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a href="#"> <img class="img-responsive" src="images/Bruise3.jpg" alt=""> </a>
            </div>

            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <h4>Sutures Post Knee Surgery</h4>
                <p> Had knee replacement surgery.  Sutures were checked up on 10 days post surgery.  Everything seemed to be healing properly.  Will come back again to have sutures removed in 2 weeks.  </p>
            </div>
        </div>
            <hr>   
              
          <!--/ article-->
          