         
          <!-- article-->
<div style="margin:25px">
  <h5 > 9-10AM</h5>
      <ul >
          <li >Eat breakfast</li>
          <li > Take 15 minute walk </li>
           <li > Take 2 pills for hypertension with water </li>
      </ul> 

  <h5 > 1-2PM</h5>

  <ul >
      <li >Eat lunch</li>
      <li >Take pain reliever with water</li>
  </ul> 

  <h5  >9-10PM</h5>

  <ul >
      <li >Eat dinner</li>
      <li >Exercise for 15 minutes</li>
      <li >Take 2 pills for sleep-aid with water</li>

  </ul> 
</div>
              
          <!--/ article-->
         