             <div class="row" style="margin-top:1em">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                   <h4 id="medinfoTitle"> Your Visual Medical Schedule</h4> 
                    <div style="background-color:#91b4b1;height:.1em;"></div>  
                  </div>
             </div>   
          <!-- article-->

<div class="row" style="margin-top:1em">
<h4>Appointments</h2>
<p>
<div class="btn-group btn-breadcrumb">
    <a  class="btn btn-NYP0"><i ></i>&nbsp</a>
    <a  class="btn btn-NYP0">Cardio</a>
    <a  class="btn btn-NYP0">Renal</a>
    <a  class="btn btn-NYP0">Out-px</a>
    <a  class="btn btn-NYP0">&nbsp<i class="" ></i>&nbsp</a>
</div>
</p>

</div>
<div class="row">
<h4>Advil (as needed)</h2>
<p>
<div class="btn-group btn-breadcrumb">
    <a class="btn btn-NYP0"><i class=" "></i>&nbsp</a>
    <a class="btn btn-NYP0">First Dose</a>
    <a class="btn btn-NYP0">Second Dose</a>
    <a class="btn btn-NYP0">Third Dose</a>
     <a class="btn btn-NYP0">&nbsp</a>
</div>
 
</p>

</div>

<div class="row">
<h4>Levofloxacin</h4>  
<p>
<div class="btn-group btn-breadcrumb" >
<a onclick="drugBox1()" class="btn btn-NYP1"><i class=""></i> <bold> ? </bold> </a>
<a  class="btn btn-NYP1">First Dose</a>
<a  class="btn btn-NYP1">Second Dose</a>
<a  class="btn btn-NYP1">&nbsp</a>
</div>
  <button style="background-color:#5a342b;color:white;margin-left:10px" class="btn" id="tryMe2">Yes, I took</button>       

</p>
<div class="row hide" id="funcBox1tar">
    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
    <div class="offer offer-radius offer-info">
      <div class="shape">
        <div class="shape-text">
          Discharge              
        </div>
      </div>

      <div class="offer-content">
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">     
            <h3 class="lead">
              Levofloxacin 
            </h3>  

            <p>
               Treats infections that are caused by certain kinds of bacteria. Also used to treat and prevent anthrax infection after exposure. Also used to treat and prevent plague. This medicine is a fluoroquinolone antibiotic. 
            </p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">          
        
            <span id="dummy" onclick="playSound(this,'sounds/empty_tummy.mp3');">
            <button type="button" class="btn btn-primary btn3d" style="margin:0 15px 10px 5px"><span class=""></span> Listen</button>
            </span>


        <button type="button" class="btn btn-warning  btn3d" style="margin: 0 15px 10px 5px "><span > Call Me</span></button>

       </div>
      </div>
      </div>
    </div>
  </div>
</div>

</div>
<div class="row">
  <h4>Sudafed</h4>
  <p>
  <div class="btn-group btn-breadcrumb">
      <a  onclick="drugBox2()" class="btn btn-NYP1"> <bold> ? </bold> </a>
      <a  class="btn btn-NYP1">First Dose</a>
      <a  class="btn btn-NYP1">Second Dose</a>
      <a  class="btn btn-NYP1">Third Dose</a>
      <a  class="btn btn-NYP1">&nbsp</a>
  </div>
    <button style="background-color:#5a342b;color:white;margin-left:10px" class="btn" id="tryMe3">Yes, I took</button>
  </p>

  <div class="row hide" id="funcBox2tar">
    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
    <div class="offer offer-radius offer-info">
      <div class="shape">
        <div class="shape-text">
          Discharge              
        </div>
      </div>

      <div class="offer-content">
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">     
            <h3 class="lead">
             Sudafed  
            </h3>           
            <p>
              Treats stuffy nose and sinuses caused by the common cold, hay fever, or sinus infection. This medicine is a decongestant. 

            </p>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">          
        
        <span id="dummy" onclick="playSound(this,'sounds/water_sp.mp3');">
            <button type="button" class="btn btn-primary  btn3d" style="margin:0 15px 10px 5px"><span class=""></span> Listen</button>
            </span>
         
        <button type="button" class="btn btn-warning  btn3d" style="margin: 0 15px 10px 5px "><span class=""> </span> Call Me</button>

       </div>
      </div>
      </div>
    </div>
  </div>
</div>

</div>


<div class="row">
    <h4>Medicines to take in the Morning</h4>
    <p>
    <div class="btn-group btn-breadcrumb ">
        <a class="btn btn-NYP2"><i class=""></i> &nbsp</a>
        <a class="btn btn-NYP2">Bencar HCT </a>
        <a class="btn btn-NYP2">Vegetable Pepsin</a>
        <a class="btn btn-NYP2">Angelica</a>

    </div>
    </p>
</div>

<div class="row">
    <h4>Medicines to take in the evening</h4>
    <p>
    <div class="btn-group btn-breadcrumb">
        <a class="btn btn-NYP2"><i class=""></i> &nbsp</a>
        <a class="btn btn-NYP2">Digoxin</a>
        
    </div>
    </p>
</div>



              
          <!--/ article-->

<script src="js/toastr.js"></script>
<script src="js/script_json.js"></script>