   <div class="tab-pane active" id="1">
       
              <ul>
                  
                  <li> 
                      <div class="row">
                      <div class="col-sm-8 col-lg-8">
                        <button class="btn  btn-lg " id ="OTCMed" >OTC Medicine</button>
                       
                      </div>
                      <div class="col-sm-4 col-lg-4">
                      <!-- image space -->
                      </div>
                      
                    </div>
                     </li>

                  <li> <div class="row">
                      <div class="col-sm-8 col-lg-8">
                        <button class="btn  btn-lg " id ="RxMedSimple" >Hourly Medicines </button>
                      </div>
                      <div class="col-sm-4 col-lg-4">
                      <!-- image space -->
                      </div>
                      
                    </div> </li>


                  <li> <div class="row">
                      <div class="col-sm-8 col-lg-8">
                        <button class="btn  btn-lg " id ="RxMed" >Rx Medicines </button>
                      </div>
                      <div class="col-sm-4 col-lg-4">
                      <!-- image space -->
                      </div>
                      
                    </div> </li>
                  <li> 
                  <div class="row">
                      <div class="col-sm-8 col-lg-8">
                         <button class="btn  btn-lg " id ="MedBills" >Medical Bills</button>
                      </div>
                      <div class="col-sm-4 col-lg-4">
                      <!-- image space -->
                      </div>
                      
                    </div></li>


                  <li> <div class="row">
                      <div class="col-sm-8 col-lg-8">
                        <button class="btn  btn-lg " id ="Insurance" >Insurance </button>
                      </div>
                      <div class="col-sm-4 col-lg-4">
                      <!-- image space -->
                      </div>
                      
                    </div> </li>
                  <li>  <div class="row">
                      <div class="col-sm-8 col-lg-8">
                        <button class="btn  btn-lg " id ="Video" > Videos</button>

                      </div>
                      <div class="col-sm-4 col-lg-4">
                      <!-- image space -->
                      </div>
                      
                    </div> </li>
                  <li>   <div class="row">
                      <div class="col-sm-8 col-lg-8">
                       <button class="btn  btn-lg " id ="VoiceRecording" >Voice Recording</button>
                      </div>
                      <div class="col-sm-4 col-lg-4">
                      <!-- image space -->
                      </div>
                      
                    </div> </li>
                  <li>  <div class="row">
                      <div class="col-sm-8 col-lg-8">
                         <button class="btn  btn-lg " id ="Upload" >Upload</button>
                      </div>
                      <div class="col-sm-4 col-lg-4">
                      <!-- image space -->
                      </div>
                      
                    </div> </li>
                  

                </ul>

                </div>

                <div class=" hide-sm tab-pane" id="2">
                   <!-- ITEM-->
                        <div class="row">
                          <div class="col-sm-8 col-lg-8">
                           Website for humour
                          </div>
                          <div class="col-sm-4 col-lg-4">
                              <div class="thumbnail">
                                <img class="img-responsive" src="images/thumb.jpg" alt="post image">
                              </div>
                          </div>
                          
                        </div>
                        <!-- / ITEM-->
                        <hr>
                        <div class="row">
                          <div class="col-sm-8 col-lg-8">
                           Health Blog
                          </div>
                          <div class="col-sm-4 col-lg-4">
                              <div class="thumbnail">
                                <img class="img-responsive" src="images/thumb.jpg" alt="post image">
                              </div>
                          </div>
                          
                        </div>
                        <!-- / ITEM-->
                        <hr>
           
                </div>


<script>

        $("#viewRec").click(function () {
               $("#medinfo").html("").load("views/main.html").css("border","1px solid black");;
                // $("#medinfoTitle").html("Your Medical Information");
        });

        $("#OTCMed").click(function () {
               $("#medinfo").empty().load("views/otc.html").css("border","1px solid black");
               // $("#medinfoTitle").html(" OTC Medicines You Reported");

        });
    
        $("#OTCMed_C").click(function () {
              $("#medinfo").empty().load("views/otc.html").css("border","1px solid black");
               // $("#medinfoTitle").html(" OTC Medicines You Reported");
        });


        $("#RxMedSimple ").click(function () {
              $("#medinfo").empty().load("views/sch1.html").css("border","1px solid black");
               // $("#medinfoTitle").html("Your Simple Medical Schedule");
        });

        $("#RxMedSimple_C ").click(function () {
              $("#medinfo").empty().load("views/sch1.html").css("border","1px solid black");
              // $("#medinfoTitle").html("Your Simple Medical Schedule");
        });

        $("#RxMed").click(function () {
              $("#medinfo").empty().load("views/sch2.html").css("border","1px solid black");
               // $("#medinfoTitle").html("Your Visual Medical Schedule");
        });
        
        $("#RxMed_C").click(function () {
             $("#medinfo").empty().load("views/sch2.html").css("border","1px solid black");
              // $("#medinfoTitle").html("Your Visual Medical Schedule");
        });

        $("#MedBills").click(function () {
           $("#medinfo").empty().load("views/bills.html").css("border","1px solid black");
            // $("#medinfoTitle").html("Your Medical Bills You Reported");
        });

        $("#VoiceRecording").click(function () {  
              $("#medinfo").empty().load("views/voice.html").css("border","1px solid black");
               // $("#medinfoTitle").html("Voice Recordings of Medical Instructions");
        });
        $("#Pictures").click(function () {
            $("#medinfo").empty().load("views/pictures.html").css("border","1px solid black");
             // $("#medinfoTitle").html("Your Medical Pictures");
        });

        $("#Insurance").click(function () {
            $("#medinfo").empty().load("views/insurance.html").css("border","1px solid black");
             // $("#medinfoTitle").html("Your Insurance Information");
        });
         $("#Video").click(function () {
            $("#medinfo").empty().load("views/videos.html").css("border","1px solid black");
             // $("#medinfoTitle").html("Helpful Medical Videos");
        });

        $("#Miscellaneous").click(function () {
             $("#Miscellaneous2").toggleClass("show").css("border","1px solid black");
              // $("#medinfoTitle").html("Miscellaneous Information");
      
        });
    
        function drugBox1()
        {$("#funcBox1tar").toggleClass("show");};

        function drugBox2()  
        {$("#funcBox2tar").toggleClass("show");};


</script>