             <div class="row" style="margin-top:1em">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                   <h4 id="medinfoTitle"> Helpful Medical Videos </h4> 
                    <div style="background-color:#91b4b1;height:.1em;"></div>   
                  </div>
             </div>
          <!-- article-->

   <div class="row" style="margin-top:1em">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <a href="#"> <img class="img-responsive" src="images/Band1.jpg" alt=""> </a>
    </div>

    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <h4>Bandage Dressing</h4>
        <p>A dressing is an adjunct used by a person for application to a wound to promote healing and/or prevent further harm. A dressing is designed to be in direct contact with the wound, which makes it different from a bandage, which is primarily used to hold a dressing in place. Some organisations classify them as the same thing (for example, the British Pharmacopoeia) and the terms are used interchangeably by some people. Dressings are frequently used in first aid and nursing.</p>
    </div>
</div>
<hr>   

<div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <a href="#"> <img class="img-responsive" src="images/Wash1.jpg" alt=""> </a>
    </div>

    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <h4>Handwashing</h4>
        <p>Handwashing is like a "do-it-yourself" vaccine—it involves five simple and effective steps (think Wet, Lather, Scrub, Rinse, Dry) you can take to reduce the spread of diarrheal and respiratory illness so you can stay healthy. Regular handwashing, particularly before and after certain activities, is one of the best ways to remove germs, avoid getting sick, and prevent the spread of germs to others.</p>
    </div>
</div>
              
          <!--/ article-->
