             <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                   <h4 id="medinfoTitle"> Voice Recordings of Medical Instructions </h4> 
				<div style="background-color:#91b4b1;height:.1em;"></div>  
                  </div>
             </div>

 This section is Voice.






<!-- 

<script type="text/javascript" src="js/jquery.flippy.js"></script>

<script>
	$(".flipbox").flippy({
    color_target: "red",
    duration: "500",
    verso: "woohoo"
 });

</script>




<div class="flipbox-container">

 

    <div class="flipbox">

        <span>Hello !</span>

    </div>

 

</div>
 -->